:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }

  
  body {
    background: #111 !important;
   
  }
  #hat {
    width: 80px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
   
    z-index: 100;
  }
  
  .card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 5rem;
    
  }
  
 