<tabset>
  <tab heading="POSTED JOBS">
    <ng-container *ngFor="let job of jobs; let i = index">
      <div class="card card-block card-header">
        <div class="well well-lg" *ngIf="i !== editJob">
          <app-job-detail-view [job]="job"></app-job-detail-view>
        </div>
        <div class="well well-lg" *ngIf="i === editJob">
          <app-job-detail-form
            [job]="job"
            (formSubmit)="onEdit($event)"
          ></app-job-detail-form>
        </div>
      </div>

      <button
        type="submit"
        class="bbtn btn-outline-secondary"
        (click)="onSave(job, i)"
      >
        Save
      </button>
      <button
        type="submit"
        class="bbtn btn-outline-secondary"
        (click)="onedit(job, i)"
      >
        Edit
      </button>
      <button
        type="submit"
        class="bbtn btn-outline-secondary"
        (click)="onDelete(job)"
      >
        Delete
      </button>
    </ng-container>
  </tab>
  <tab heading="POST JOBS">
    <div>
      <app-job-detail-form
        [job]="formjob"
        (formSubmit)="onPost($event)"
      ></app-job-detail-form>
    </div>
  </tab>
</tabset>
