<div *ngIf="user; else loading">
  <div class="row">
    <div class="col-6 p-2 border-bottom">Name</div>
    <!-- make a two string method inn userName -->
    <div class="col-6 p-2 border-bottom">
      <!-- {{this.user.userName.displayUserName}} -->
    </div>

    <div class="col-6 p-2 border-bottom">Email</div>
    <div class="col-6 p-2 border-bottom">{{ user.email }}</div>

    <div class="col-6 p-2 border-bottom">Mobile No</div>
    <div class="col-6 p-2 border-bottom">{{ user.mobileNumber }}</div>

    <div class="col-6 p-2 border-bottom">User Role</div>
    <div class="col-6 p-2 border-bottom">
      {{ user.userType?.toLocaleString() }}
    </div>

    <div class="col-12 p-0" *ngIf="user.userCollege">
      <accordion>
        <accordion-group>
          <div class="row p-0 m-0" accordion-heading>
            <div class="col-6">College</div>
            <div class="col-6">{{ user.userCollege.collegeName }}</div>
          </div>
          <app-college-detail-view></app-college-detail-view>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-12 p-0" *ngIf="user.userCompany">
      <accordion>
        <accordion-group>
          <div class="row p-0 m-0" accordion-heading>
            <div class="col-6">Company</div>
            <div class="col-6">{{ user.userCompany.companyName }}</div>
          </div>
          <app-company-detail-view
            [company]="user.userCompany"
          ></app-company-detail-view>
        </accordion-group>
      </accordion>
    </div>

    <div class="col-6 p-2 border-bottom">Approved by Organisation Admin:</div>
    <div class="col-6 p-2 border-bottom">
      {{ user.adminApprovalStatus?.valueOf() }}
    </div>

    <div class="col-6 p-2 border-bottom">Account Enabled</div>
    <div class="col-6 p-2 border-bottom">{{ user.enabled?.valueOf() }}</div>

    <div class="col-6 p-2 border-bottom">Member Since</div>
    <div class="col-6 p-2 border-bottom">{{ user.createdDate }}</div>
  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
