<!-- <tabset>
  <tab heading="APPLY FOR JOBS">
    <ng-container *ngFor="let job of jobs; let i = index">
      <div class="card card-block card-header">
        <app-job-detail-view [job]="job"></app-job-detail-view>
      </div>

      <button
        type="submit"
        class="bbtn btn-outline-secondary"
        (click)="onApply(job)"
      >
        APPLY
      </button>
    </ng-container>
  </tab>
  <tab heading="APPLIED JOBS">
    <ng-container *ngFor="let job of jobs; let i = index">
      <div class="card card-block card-header">
        <app-job-detail-view [job]="job"></app-job-detail-view>
      </div> </ng-container
  ></tab>
</tabset> -->
